
:root{
    --fondo: #F2EA79;
    --secundario: #A65D03;
    --contraste: #203B8C;
    --oscuro1: #010326;
    --oscuro2: #0D0D0D;
}
.navbar{
    /* max-height: 90px; */
}

.navbar-logo{
    transition: transform 2s;
}
.navbar-logo:hover{
    transform: rotate(180deg);
}
.titulo{
    font-weight: 900;
    display: inline;
    transition: 1s;
}
.titulo:hover{
    text-shadow: 1px 1px var(--fondo),-1px -1px var(--secundario);
    transition: 1s;
}

.menu_icon{
    width: 50px;
    display: inline;
    transition: transform 2s;
}
.menu_icon:hover{
    transform: rotatey(150deg);
}

nav{
    background-color: var(--contraste);
    display: flex;   
    flex-direction: column;
    color:white;
    grid-area: header;
    height: 100%;
    width: 100%;
}

.container-fluid a{
    color: white;
}
main{
    background: linear-gradient(90deg, rgba(166,93,3,1) 13%, rgba(242,234,121,1) 50%, rgba(166,93,3,1) 87%);
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    grid-area: catalog;
    align-content: center;
    justify-content: start;
}
footer{
    background-color: var(--oscuro2);
    color: white;
    grid-area: footer;
    font-size: larger;
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}
footer:hover{

}
footer img{
    height: 50px;
    display: inline;
}
body{
    background-color: var(--fondo);
    margin: 0;
    padding: 0;
    display: grid;
    justify-items: start;
    grid-template-rows: auto auto 90px;
    grid-template-areas: 
    "header"
    "catalog"
    "footer"
    ;
}   

.nav-item{
    display: block;
    width: 100%;
}
.title-icon{
    padding-right: 15px;
}

.gal{
    margin: 15px;
    box-shadow: 5px 5px 3px var(--oscuro1),-5px -5px 3px var(--contraste);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 1s;
}
.gal:hover{
    transition: 1s;
    box-shadow: -5px -5px 3px var(--fondo), 5px 5px 3px var(--fondo);
}
.gal img{
    max-width: 300px;
    transition: 1s;
    
}
.gal img:hover{
    transition: 1s;
    transform: scale(1.5,1.5);
    filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5));

}

@media (min-width: 576px) {
    body{
        grid-template-areas: 
        "header catalog"
        "footer catalog"
        ;
        grid-template-columns: 1fr 8fr;
        grid-template-rows:auto;
        justify-items: start;
        align-items: start;
    }
    .navbar{
        justify-items: start;
        align-items: start;

    }
    .container-fluid{
        flex-direction: column;
    }
    .navbar-brand{
        display:block;
    }
    .navbar-nav{
        display: flex;
        flex-direction: column !important;
        align-items: start;
    }
    main{
        display: flex;
        flex-flow: row wrap;
        align-content: center;
        justify-content: center;
        grid-area: catalog;
    }
    .gal{
        margin: 15px;
        box-shadow: 5px 5px 3px lightgray;
        display: flex;
        flex-direction: column;
        align-items: center;
        display: show;
    }

    footer{
        text-align: center;
    }
}